header {
    border: 1px solid goldenrod;
    position: relative;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 30px;
}

nav {
    text-align: center;
    word-spacing: 60px;
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
    color:gray;
}

a.disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent > div > div:first-child{
    color: red;
}

.parent > div > div:nth-child(3){
    color: blue;
}

.parent > div > h4:nth-child(2) {
    background-color: red;
}

.parent > div > h4:nth-child(4) {
    background-color: blue;
}

.grandparent > h4 {
    border: 1px solid purple;
    border-radius: 25px;
    padding: 20px;
    height: 50px; 
}

.promo {
    color: gold;
    font-weight: bold;
}

footer input {
    height: 25px;
    width: 25%;
}